* {
    box-sizing: border-box;
    }

.sidebar-container {
    width: 20vw;
    height: 95vh;
    overflow: hidden;
    padding: 10px;
    border-right: 1px solid black;
    }
  
.sidebar-filter-container {
    height: 100%;
    }
  
.sidebar-container {
  width: 20vw;
  height: 95vh;
  overflow: hidden;
  padding: 10px;
  border-right: 1px solid black;
    }

.sidebar-filter-container {
  height: 100%;
    }
