* {
    box-sizing: border-box;
}

.header-bar {
    height: 10vh;
    background-color: rgb(173, 14, 14);
    display: flex;
    justify-content: space-between;
    color: #ffd700;
    align-items: center;
    }

       
    .button-generic {
      height: 2.5rem;
      width: 100px;
      border-radius: 8;
      background-color: #ffd700;
      color: black;
      cursor: pointer;
      font-weight: 800;
    }

    #basic-nav-dropdown{
      color: #ffd700 !important;
    }

    .dropdown-menu {
      height: 500px;
      width: 300px;
      left: -200% !important;
    }

    .dropdown-title {
      text-align: center !important;
    }
    