.login-form-container {
    text-align: left;
    padding: 20px;
    margin: 100px;
}

.login-form-container input {
    height: 30px;
    width: 100%;
    border-radius: 5px;
}

input:invalid {
    border: 1px solid red;
}
