.signup-login-container {
    width: 100vw;
    display: flex;
}

.login-image-container {
    width:  75vw;
    height: 100vh;
}

.login-image-container {
  text-align: center;
}

.form-container {
    width: 25vw;
    height: 100vh;
    text-align: center;
    background-color: white;
    border: 1px solid black;
}

