$color: steelblue;

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-content {
  display: flex;
  height: 95vh;
}

.loading-spinner-container {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  align-content: center;
}








