$color: steelblue;

* {
  box-sizing: border-box;
}

.my-movies {
  color: $color;
}

.header-bar {
width: 100vw;
height: 5vh;
background-color: rgb(173, 14, 14);
position: relative;
display: flex;
justify-content: space-between;
text-align: center;
color: gold;
}

.main-content {
  display: flex;
  width: 100vw;
  height: 95vh;
}

.sidebar-container {
  width: 20vw;
  height: 95vh;
  overflow: hidden;
  padding: 10px;
  border-right: 1px solid black;

}

.sidebar-filter-container{

  height: 100%;
}

.movie-detail-container {
display: flex;
height: 50%;
padding: 0 auto;
}

.movie-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  height: auto;
  align-content: top;
  padding: 1rem;
  overflow: scroll;
}

.movie-card {
  height: 25rem;
  width: 25rem;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*background-image:url("../public/img/9996094.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;*/
}

.movie-card-header {
   display: flex;
   height: 250px;
}

.movie-card-image-container {
  height: 100%;
  width: 100%;
  max-width: 200px; 
  text-align: center;
}

.poster-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  padding: 10px;
}

.movie-card-title{
margin-left: 10px;
text-align: left;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.movie-card-title-container{
height: 45px;
}

.movie-card-title p{
  text-align: left;
  height: 50px;
}

.movie-card-description {
  padding: 10px;
  font-size: small;
  overflow: scroll;
  font-size: 18;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.movie-view-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.movie-view-modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 80%;
  max-width: 500px;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
